@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-red: rgb(229, 9, 20);
}

@font-face {
  font-family: Netflix Sans;
  src: url("/fonts/NetflixSans-Regular.otf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    Netflix Sans,
    Arial,
    Helvetica,
    sans-serif;
  margin: 0;
  padding: 0;
}
